body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#name,
nav ul li a,
nav i {
    color: black;
}

#name {
    padding: 0px 4px;
}

#surname {
    color: white;
    /* It may not be too clever, but hopefully it's at least memorable. */
    background-color: #43a047;
    padding: 0px 4px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #c8e6c9 !important;
}

/* Tabs */

.tabs .tab a{
    color:#000;
    border-radius: 3px 3px 0px 0px;
}

.tabs .tab a:hover {
    background-color:#74d079;
    color:#ffffff;
}

.tabs .tab a.active {
    background-color:#43a047;
    color:#ffffff;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color:#74d079;
    color:#ffffff;
}

.tabs .indicator {
    background-color:#2b742f;
}

.c2a {
    margin-bottom: 3em;
}